* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

/* Cuong */
/* ----------------- Alert ------------------ */
.container-alert{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
}
.container-alert .alert{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
    margin-top: 5px;
    animation: move-alert 0.3s 1;
}
.container-alert .item{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.container-alert img{
    width: 20px;
}
.container-alert .success{
    background-color: #00ff00;
}
.container-alert .fail{
    background-color: #ff0000;
}
.container-alert p{
    color: #fff;
}
.container-alert span{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}
.container-alert span:hover{
    color: #000;
}
@keyframes move-alert{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translate(0);
    }
}

/* ----------------- Pop-up ------------------ */
.pop-up {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
}

/* ----------------- Header ------------------ */
.header {
    background-color: #fff;
    /* height: 100px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

/* ----------------- Logo ------------------ */
.header img {
    width: 20px;
    height: 20px;
}

.header .logo-img {
    width: 70px;
    height: 70px;
}

/* ----------------- Search ------------------ */
.header .container-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header input {
    width: 400px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128);
    padding: 5px 40px 5px 15px;
    color: rgb(60, 58, 58);
    font-size: 1em;
    display: relative;
    z-index: 0;
}

.header input:focus {
    border: 1px solid #4A9DEC;
}

.header .icon-search {
    position: absolute;
    transform: translate(-35px, -50%);
    z-index: 1;
}

/* ----------------- Cart ------------------ */
.container-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .item {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 5px;
}

.header .item-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid rgb(201, 197, 197);
    font-size: 1em;
}

.header .p-cart {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.header a{
    font-size: 0.9em;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.header .item p{
    font-size: 0.8rem;
}

/* ----------------- Nav ------------------ */
.nav {
    width: 100%;
    background-color: #6C5070;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .item {
    display: flex;
    align-items: center;
}
.nav .item-a{
    color: #fff;
    background-color: #6C5070;
    text-decoration: none;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 20px 20px;
    display: inline-block;
    position: relative;
}

.nav .item span {
    color: #fff;
}
.nav .item-a:hover{
    background-color: #785b7c;
}
.nav .item-a:active{
    background-color: #826586;
}
.nav .item-a::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #df6a6a;
}
.nav .item-a:hover::before{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.nav .isactive{
    background-color: #785b7c;
}
.nav .isactive::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #df6a6a;
}

/* ---------------------------- Cart ---------------------------- */
.cart-page{
    min-height: 50vh; /*Delete*/

    width: 100%;
    background-color: #ececec;
}

.cart-page .container{
    background-color: #fff;
    padding: 20px 10px;
    margin: 20px;
}

.cart-page .btn{
    padding: 5px 10px;
    border: 1px solid #555;
    border-radius: 1px;
    background-color: transparent;
    font-size: 1em;
}

.cart-page .number{
    min-width: 50px;
    width: 50px;
    /* height: 30px; */
    border: 1px solid #555;
    border-radius: 1px;
    padding: 5px 2px;
    text-align: center;
    font-size: 1em;
}

.cart-page .item-total{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.cart-page .btn-total{
    cursor: pointer;
    padding: 10px 15px;
    background-color: #df6a6a;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-page .btn-total:hover{
    background-color: #e97777;
}

.cart-page .btn-total:active{
    background-color: #f88c8c;
}

/* Phuc */
/* ----------------- Footer ------------------ */
.footer {
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 10px;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
}

.footer a {
    margin: 10px 0;
}

/*Kích thước logo Footer*/
.footer .logo_footer {
    width: 50px;
    height: 50px;
}

.footer_word a {
    text-decoration: none;
    color: inherit;
}

/* hover đổi màu */
.footer_word a:hover {
    color: #7c9393;
    text-decoration: none;
}

.footer .container-center {
    display: flex;
    justify-content: center;
    align-items: center
}

.footer .container-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*chữ dưới logo*/
.footer_word {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

/* Kích thước icon mạng xã hội */
.footer_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

/* Hiệu ứng hover */
.footer_icon:hover {
    box-shadow: 0 0 5px #5a9e9e;
    transform: scale(1.1);
}

/* Đường line */
.footer_line {
    width: 95%;
    height: 1px;
    border: none;
    background-color: #000000;
    margin: 10px 0;
}

/* chữ bên trái dưới đường line */
.footer .item {
    margin: 0 60px;
}

.footer_row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_icon_bottom {
    width: 17px;
    height: 17px;
}

.footer_row p {
    margin: 3px 0;
    font-size: 0.9em;
    color: #555;
}