/* Input */
.text-box{
    padding: 7px 15px;
    border: 1px solid #555;
    border-radius: 5px;
    min-width: 300px;
}

.text-box:focus{
    border-color: #785b7c;
}

.btn{
    padding: 7px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.rd{
    cursor: pointer;
}

/* Table */
.table{
    text-align: center;
    vertical-align: middle;
}
.table th, .table td{
    padding: 10px 15px;
}
.table th{
    font-size: 1.1em;
}
.table td{
    font-size: 0.9em; 
}

/* Display flex */
.my-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.my-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-block{
    display: block;
}

/* Margin */
.mt-5{ margin-top: 5px; }
.mt-17{ margin-top: 17px; }
.mt-20{ margin-top: 20px; }

.mr-5{ margin-right: 5px; }
.mr-20{ margin-right: 20px; }

/* Width */
.w-100{ width: 100px; }
.w-{ width: 11px; }