*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    overflow-x: hidden;
}

/* Cuong */
/* ----------------- Alert ------------------ */
.container-alert{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
}
.container-alert .alert{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
    margin-top: 5px;
    animation: move-alert 0.3s 1;
}
.container-alert .item{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.container-alert img{
    width: 20px;
}
.container-alert .success{
    background-color: #00ff00;
}
.container-alert .fail{
    background-color: #ff0000;
}
.container-alert p{
    color: #fff;
}
.container-alert span{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}
.container-alert span:hover{
    color: #000;
}
@keyframes move-alert{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translate(0);
    }
}

/* ----------------- Pop-up ------------------ */
.pop-up{
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
}

.pop-up .container-close-form{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: top;
}

.pop-up .close-icon{
    width: 30px;
    cursor: pointer;
    padding: 7px;
    border-top-right-radius: 8px;
}

.pop-up .close-icon:hover{
    background-color: rgba(255, 0, 0, 0.674);
}

.pop-up .small-icon{
    width: 16px;
}


.pop-up .left-icon{
    display: block;
    position: absolute;
    top: 32px;
    left: 15px;
}

.pop-up .right-icon{
    display: block;
    position: absolute;
    top: 32px;
    right: 15px;
    cursor: pointer;
}

.pop-up .hidden{
    display: none;
}

.pop-up .container{
    background-color: #fff;
    border: 2px solid gray;
    box-shadow: 0 0 2px 2px gray;
    border-radius: 10px;
    margin: 5px;
}

.pop-up .form-container{
    background-color: #fff;
    padding: 0 40px 20px 40px;
    outline: none;
    border-radius: 10px;
}

.pop-up .form-container h1{
    margin-bottom: 30px;
    font-size: 2em;
    padding: 0 40px;
    color: gray;
}

.pop-up .form-container .item{
    display: block;
    position: relative;
    margin-top: 20px;
}

.pop-up .form-container label{
    font-size: 0.8em;
}

.pop-up .form-container input{
    width: 100%;
    padding: 10px 40px 10px 40px;
    outline: none;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 3px;
}

.pop-up .form-container input:focus{
    border: 1px solid #7F265B;
}

.pop-up .form-container input[type='checkbox']{
    width: auto;
    height: 0.9em;
    cursor: pointer;
    margin: 0;
    vertical-align: middle;
}

.pop-up .form-container .purple-link{
    font-size: 0.8em;
    text-decoration: none;
    color: #7F265B;
    cursor: pointer;
}

.pop-up .form-container button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #7F265B;
    color: #fff;
    font-size: 1em;
    outline: none;
    border: none;
    cursor: pointer;
}

.pop-up .form-container .center-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.pop-up .form-container .align-center{
    text-align: center;
    margin-top: 10px;
}
.pop-up .text-require{
    font-size: 1.2em;
}
/* Login */
.pop-up .login-form-container{
    display: none;
}
/* SignUp */
.pop-up .signup-form-container{
    display: none;
}
.pop-up .signup-form-container .red-link{
    font-size: 1em;
    color: #ff0000da;
}


/* ----------------- Header ------------------ */
.header{
    background-color: #fff;
    /* height: 100px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

/* ----------------- Logo ------------------ */
.header img{
    width: 20px;
    height: 20px;
}

.header .logo-img{
    width: 70px;
    height: 70px;
}

/* ----------------- Search ------------------ */
.header .container-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header input{
    width: 400px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128);
    padding: 5px 40px 5px 15px;
    color: rgb(60, 58, 58);
    font-size: 1em;
    display: relative;
    z-index: 0;
}

.header input:focus {    
    border: 1px solid #4A9DEC;
}

.header .icon-search{
    position: absolute;
    transform: translate(-35px, -50%);
    z-index: 1;
}

.main{
    background-color: #f5edff;
    height: auto;
}


/* ----------------- Cart ------------------ */
.container-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .item{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
}

.header .item-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1em;
    border: 2px solid rgb(201, 197, 197);

}

.header .p-cart{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.header a{
    font-size: 0.9em;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.header .item-login{
    background-color: #fff;
    border: 2px solid rgb(201, 197, 197);
    cursor: pointer;
}

.header .item-signup{
    background-color: #11CFAA;
    border: 2px solid #11CFAA;
    cursor: pointer;
}

/* ----------------- Nav ------------------ */
.nav{
    width: 100%;
    background-color: #6C5070;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .item{
    display: flex;
    align-items: center;
}
.nav .item-a{
    color: #fff;
    background-color: #6C5070;
    text-decoration: none;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 20px 20px;
    display: inline-block;
    position: relative;
}
.nav .item span{
    color: #fff;
}
.nav .item-a:hover{
    background-color: #785b7c;
}
.nav .item-a:active{
    background-color: #826586;
}
.nav .item-a::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #df6a6a;
}
.nav .item-a:hover::before{
    width: 100%;
    transition: all 0.3s ease-in-out;
}
.nav .isactive{
    background-color: #785b7c;
}
.nav .isactive::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #df6a6a;
}
/* ----------------- Slide ------------------ */
.slide{
    background-color: transparent;
    width: 100%;
    text-align: center;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide .container{
    position: relative;
    background-color: #11CFAA;
    width: 800px;
    height: 400px;
}
.slide #slide-img{
    width: 800px;
    height: 400px;
}
.slide .icon-arrow{
    position: absolute;
    width: 50px;
    cursor: pointer;
    border: 2px solid #fff;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    padding: 10px;
    margin: 0 10px;
}
.slide .icon-arrow:hover{
    background-color: #df6a6a;
    transition: all 0.3s ease-in-out;
    border: none;
}
.slide .left{
    left: 0;
}
.slide .right{
    right: 0;
}
.slide .dot-container{
    position: absolute;
    width: fit-content;
    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #fff;
    padding: 0 5px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide .icon-dot{
    width: 25px;
    margin: 0;
    cursor: pointer;
}
.slide .icon-dot:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
/* ----------------- Nav-Page ------------------ */
.nav-page{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.nav-page img{
    width: 25px;
}
.nav-page .item{
    border: 2px solid #000;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    background-color: #11CFAA;
}
.nav-page a{
    text-decoration: none;
    color: #000;
}
.nav-page .item:hover{
    border: 2px solid #df6a6a;
    background-color: #df6a6a;
}
.nav-page .isactive{    
    border: 2px solid #df6a6a;
    background-color: #df6a6a;
}

/* Phuc */
/* ----------------- Footer ------------------ */
.footer{
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 10px;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
}

.footer a{
    margin: 10px 0;
}
/*Kích thước logo Footer*/
.footer .logo_footer{
    width: 50px;
    height: 50px;
}

.footer_word a {
    text-decoration: none;   
    color: inherit;         
}

/* hover đổi màu */
.footer_word a:hover {
    color: #7c9393;         
    text-decoration: none;  
}

.footer .container-center{
    display: flex;
    justify-content: center;
    align-items: center
}

.footer .container-between{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*chữ dưới logo*/
.footer_word {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

/* Kích thước icon mạng xã hội */
.footer_icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block; 
    margin: 0 10px;
}

/* Hiệu ứng hover */
.footer_icon:hover {
    box-shadow: 0 0 5px #5a9e9e; 
    transform: scale(1.1);        
}
/* Đường line */
.footer_line {
    width: 95%;
    height: 1px;            
    border: none;           
    background-color: #000000;
    margin: 10px 0;
}

/* chữ bên trái dưới đường line */
.footer .item{
    margin: 0 60px;
}

.footer_row {
    display: flex;               
    align-items: center;
    gap: 20px;                    
}

.footer_icon_bottom {
    width: 17px;
    height: 17px;
}

.footer_row p {
    margin: 3px 0;
    font-size: 0.9em;
    color: #555;
}