*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

body{
    width: 100vw;
}

/* Cuong */
/* ----------------- Header ------------------ */
.header{
    background-color: #fff;
    /* height: 100px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

/* ----------------- Logo ------------------ */
.header img{
    width: 25px;
    height: 25px;
}

.header .logo-img{
    width: 70px;
    height: 70px;
}

/* ----------------- Search ------------------ */
.header .container-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header input{
    width: 400px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgb(128, 128, 128);
    padding: 5px 40px 5px 15px;
    color: rgb(60, 58, 58);
    font-size: 1em;
    display: relative;
    z-index: 0;
}

.header input:focus {    
    border: 1px solid #4A9DEC;
}

.header .icon-search{
    position: absolute;
    transform: translate(-35px, -50%);
    z-index: 1;
}

.main{
    background-color: aqua;
    height: 100vh;
}


/* ----------------- Cart ------------------ */
.container-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .item-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}



.header .item{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
}

.header .item-cart{
    font-size: 0.8em;
    border: 2px solid rgb(201, 197, 197);

}

.header .p-cart{
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
    /* background-color: #11CFAA; */
}

.header a{
    font-size: 0.9em;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.header .item-login{
    background-color: #fff;
    border: 2px solid rgb(201, 197, 197);
}

.header .item-signup{
    background-color: #11CFAA;
    border: 2px solid #11CFAA;
}


/* Phuc */
/* ----------------- Footer ------------------ */
.footer{
    background-color: #ffffff;
    color: #000000;
    padding: 40px 0;
    text-align: center;
}

.footer a{
    margin: 10px 0;
    font-size: 1.2em;
}
/*Kích thước logo Footer*/
.footer .logo_footer{
    width: 50px;
    height: 50px;
}

.footer_word a {
    text-decoration: none;   
    color: inherit;         
}

/* hover đổi màu */
.footer_word a:hover {
    color: #7c9393;         
    text-decoration: none;  
}


/*chữ dưới logo*/
.footer_word {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

/* Kích thước icon mạng xã hội */
.footer_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;   
    object-fit: cover;     
    cursor: pointer;       
    display: inline-block; 
    margin: 0 10px;        
    transition: 0.2s;   
    margin-bottom: 30px;
}

/* Hiệu ứng hover */
.footer_icon:hover {
    box-shadow: 0 0 5px #5a9e9e; 
    transform: scale(1.1);        
}
/* Đường line */
.footer_line {
    width: 90%;
    height: 1px;            
    border: none;           
    background-color: #000000; 
    margin: 20px auto 0;  
    margin-bottom: 30px; 
}

/* chữ bên trái dưới đường line */
.word_left {
    text-align: left; 
    padding-left: 72px;
}

/*icon dưới đường line*/
.footer_bottom {
    width: 100%;
    display: flex;
    flex-direction: column;      
    align-items: flex-end;      
    justify-content: space-between;
    padding-right: 90px;        
    gap: 10px;                  
}

.footer_row {
    display: flex;               
    align-items: center;
    gap: 20px;                    
}

.footer_icon_bottom {
    width: 20px;
    height: 20px;
}

.footer_row p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}



